<h2>Student Form</h2>

<%= form_tag students_path do %>
<div>
<label>First name:</label>
<%= text_field_tag :first_name %>
</div>
<div>
<label>Last name:</label<br>
<%= text_field_tag :last_name %>
</div>
<br>
<div>
<%= submit_tag "Submit Student" %>
</div
<% end %>
